#main{
  width:400px;
  font-size:1.1em;
  margin:0 auto;
  height:500px;
}
#main #calculate{
  width:70px;
  margin-left:62px;
}
#main input,label{
  margin:5px 0;
  padding-left:5px;
  font-size:1em;
}
